In [1]:
import pandas as pd
import sql_functions as sql_int

In [2]:
schema = 'tft_tables'

In [3]:
sql_query = f'select * from {schema}.players;'

In [4]:
#sql_int.get_data_mysql(query=sql_query)

[(1, 'test', 'the')]

In [4]:
#sql_int.get_data_alchemy(sql_query)

[(1, 'test', 'the')]